body{
  background-color: #1f1f1f;
}
.AllItems{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1f1f1f;
  text-align: center;
}
.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 70px;
padding-right: 70px;

}


.pagination-controls button.active {
  background-color: hsl(0, 100%, 31%);
  color: white;
  
}
.pagination-controls  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
}
